<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.hzbc.app.admin.cms.dao.ActiveDao">
	
	<insert id="addActive" parameterType="com.hzbc.app.admin.cms.entity.Active" >
		insert into t_active(id,activeName,activeContent,activeUpDate,activeImg,activeFlag,adminId) values(#{id},#{activeName},#{activeContent},#{activeUpDate},#{activeImg},#{activeFlag},#{adminId})
	</insert>
	
	<select id="findActiveById" parameterType="int" resultType="com.hzbc.app.admin.cms.entity.Active">
		 select id,activeName,activeUpDate,activeImg,adminId from t_active where id = #{id,jdbcType=NUMERIC};
	</select>
		
	<select id="findActive" resultType="com.hzbc.app.admin.cms.entity.Active">
		 select id,activeName,activeUpDate,activeFlag,adminId from t_active;
	</select>
</mapper>