<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd" >


<context:component-scan base-package="com.hzbc.app.admin.cms"></context:component-scan>
<mvc:annotation-driven></mvc:annotation-driven>
<!-- 配置视图查看器 -->
	<bean name="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- 定义一个连接池组件 -->
	<bean name="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url" value="jdbc:mysql://localhost:3306/flowBank"></property>
		<property name="password" value="hcl940604"></property>
		<property name="username" value="root"></property>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		
		<property name="initialSize" value="10"></property>
		<property name="maxActive" value="50"></property>
		<property name="minIdle" value="3"></property>
		<property name="maxIdle" value="10"></property>
		<property name="maxWait" value="3000"></property>
	</bean>
	
	<!-- 定义一个sqlSessionFactroy bean -->
	<bean name="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="mapperLocations" value="classpath:com/hzbc/app/admin/cms/entity/*.xml"></property>
	</bean>
	
	<!-- 配置MapperFacotryBean -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.hzbc.app.admin.cms.dao"></property>
		<property name="annotationClass" value="com.hzbc.app.admin.cms.annotation.MyAnnotation"></property>
	</bean>
	

		 <!-- (事务管理)transaction manager, use JtaTransactionManager for global tx -->  
    <bean id="transactionManager"  
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
        <property name="dataSource" ref="dataSource" />  
    </bean>  
	<!-- 开启事务注解驱动 -->
	<tx:annotation-driven/>
<!-- SpringMVC上传文件时，需要配置MultipartResolver处理器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
    	<property name="defaultEncoding" value="utf-8" />  
    	<property name="maxUploadSize" value="10485760000" />  
    	<property name="maxInMemorySize" value="40960" />  
    </bean>
        <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">  
    	<property name="exceptionMappings">  
    		<props>  
    			<!-- 遇到MaxUploadSizeExceededException异常时，自动跳转到/WEB-INF/jsp/error_fileupload.jsp页面 -->  
    			<prop key="org.springframework.web.multipart.MaxUploadSizeExceededException">error_fileupload</prop>  
    		</props>  
    	</property>  
    </bean>
	
	
	
</beans>
